body {
	background-color: #DDDDDD;
  	# background: url("../images/tushita.png") no-repeat fixed center;
}


header, section{
	margin: 22px;
	padding: 44px;
}

.part1{
	
	font-family: 'Didact Gothic', sans-serif;
	color: Indigo;
	font-size: 42;
	margin-left: 80px;
	display: inline;
}

.part2{
	
	font-family: 'Didact Gothic', sans-serif;
	color: Indigo;
	display: inline;
	font-size: 42;
	margin-left: 800px;
	padding: 40px;
}
.part2a{
	
	font-family: 'Didact Gothic', sans-serif;
	color: Indigo;
	display: inline;
	font-size: 42;
	margin-left: 750px;
	padding: 40px;
}


.credits{
	color: Indigo;
	font-family: 'Didact Gothic', sans-serif;
}
